<footer class="footer">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="post-date"><a href="{{ site.github.url }}/">{{ site.title }} | {{ site.description }} by {{ site.author }}</a></div>
  <div class="post-date"><p>Opinions and views expressed are those of the contributors and not of IBM, the Hyperledger Project or Linux Foundation</p></div>
</footer>
