<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} | {{ site.description }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  {% if page.title == "Home" %}
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ '/assets/img/lone-green.png' | absolute_url }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ '/assets/img/lone-green.png' | absolute_url }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
  {% else %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image" content="{{ '/assets/img/' | append: page.image | absolute_url }}">
    <meta property="og:updated_time" content="{{ page.date }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ '/assets/img/' | append: page.image | absolute_url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16" />
  <!-- Use Atom -->
  {% feed_meta %}
  <!-- RSS-v2.0
  <link href="{{ site.github.url }}/rss-feed.xml" type="application/rss+xml" rel="alternate" title="{{ site.title }} | {{ site.description }}"/>
  //-->


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
